/*  Navbar Component styles */
/* Colors => 
.
.
.
.
.   Body background: #F7F8FB
.   Brand yellow: #FFEF29
.   White: #FFFFFF
.   Grey: #F2F2F2
.   Pink: #FF4576
.   Landing background: #FFFCD4 
*/

div ul li.input-group-text {
    background-color: #FFEF29 !important;
    border: 0;
}

/* Loader */

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}