<div class=" landing w-100 m-0">
  <div class="row">

    <div class="col-md-7 intro d-flex flex-md-column justify-content-around">
      
      <div class="mx-auto">
          <img src="../../assets/img/logo-yellow-big-07.png" alt="logo-yellow-big-07">
      </div>

    </div>

    <!-- Login -->

    <div class="col-md-5 login d-flex justify-content-center">
      <div class="d-flex flex-md-column justify-content-center align-items-center w-100">
        <h3>Login as</h3>
        <button class="btn">
          Customer
        </button>
        <button class="btn">
          Admin
        </button>
      </div>
    </div>

  </div>
</div>